{
    BasedOnStyle: Google,
    UseTab: Never, ColumnLimit: 100,
    IndentWidth: 4,
    TabWidth: 4,
    SpacesBeforeTrailingComments: 1,
    NamespaceIndentation: All,
    IndentAccessModifiers: true 
}